body >a{
    text-decoration: none;
    color: white;
    font-size: 30px;
}
body {
    background-color:#777777 ;
}
.icon{
    float: right;
}
.menu{
    background-color: blue;
    height: 40px;
}
.menu a{
    font-size: 20px;
    text-decoration: none;
    padding: 0px 15px;
    color: white;
    text-transform: uppercase;
    line-height: 45px;
}
.task{
    color: white;
}
.task a{
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.runword{
    background-color: white;
    height: 40px;
}
.menu a:first-child{
    margin-left: 60px;
}
.nenxanh{
    background-color:dodgerblue;
    height: 40px;
    line-height: 40px;
    margin-left: 75px;
    width: 130px;
    font-size: 21px;
    color: white;
    padding: 0px 8px;
}
.tamgiac{
    width: 0;
    height: 0;
    /* border-left: 50px solid transparent; */
    border-right: 40px solid transparent;
    border-bottom: 41px solid dodgerblue;
    top: 81.3px;
    position: absolute;
    left: 228px;
}
.chuchay{
    top: 81px;
    position: absolute;
    width: 1490px;
    float: right;
    padding: 12px 0px;
    font-family: 'Times New Roman', Times, serif; 
}
.chuchay a{
    color: #1151d3;
    text-decoration: none;   
}
.chuchay a:visited {
    color: #1151d3;
}
.chaychu{
    margin-left: 255px;
}